body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.tomato-color{
    color: tomato;
}
#top-size{
    font-size: 50px;
}
h3{
    font-size: 35px;
}

.upper-header{
    border-left: 5px solid orange;
    border-radius: 1px;
    padding-left: 10px;
   
   
   

}
.flexible-style{
    display: flex;
    margin-bottom: 100px;
    

}
.half-width{
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
   
   
}
.half-width img{
    width:50%;
 
}    
   
.link-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
   margin-top: 10px;
   display: inline-block;
}    
#about-header{
    /* text-align: center; */
    font-size: 40px;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, red, purple);
    border-image-slice: 1;
    width: 14%;
    margin: 0 auto;
    margin-bottom: 50px;
   
}
#about-img-container{
    padding-left: 10%;
}
#about-info-container{
    padding-top: 8%;
    padding-right: 10%;
}
.about-half-width{
    width: 50%;
   
   
    
}
.about-half-width img{
    width: 90%;
    margin-right: 5%;
    
}
.mission-heading{
    font-size: 45px;
    
    text-align: center;
}
.container{
    display: flex;
    padding-left: 11%;
   margin-bottom: 100px;
   
    

}
.mutual-width{
    width: 25%;
    margin-right: 5%;
}
.mutual-width img{
    width: 40%;
}
.mission{
    background-color: rgb(218, 214, 214);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
  
}
.vission{
    background-color: rgb(236, 219, 223);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
    
}
.goals{
    background-color: rgb(233, 230, 206);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
}
.limitless-1{
    width:40%;
    margin-left: 150px;
    
}
.limitless-1 img{
    width: 80%;
}
.limitless-2{
    width: 45%;
    margin-right: 10%;
    margin-top: 5%;
    
   
    
}
.community-1{
    width: 40%;
    margin-right: 5%;
    /* padding-right: 10%; */
    padding-left: 10%;
    padding-top: 5%;
    text-align: justify;
}
.community-2{
    width: 40%;
}
.community-2 img{
    width: 70%;
    margin-left: 5%;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0;
}
footer small{
    font-weight: 100;
}
footer h3{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
