body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.tomato-color{
    color: tomato;
}
.top-size{
    font-size: 50px;
}
.upper-header{
    border-left: 5px solid orange;
    border-radius: 1px;
    padding-left: 10px;
   
   

}
.flexible-style{
    display: flex;
    

}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
   
}
.half-width img{
    width: 60%;
 
}    
   
.link-btn{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
   margin-top: 10px;
   display: inline-block;
}    
.mission-heading{
    font-size: 40px;
    /* font-weight: bolder; */
    text-align: center;
}
.container{
    display: flex;
    padding-left: 14%;
   
   
    

}
.mutual-width{
    width: 25%;
    margin-right: 5%;
}
.mutual-width img{
    width: 40%;
}
.mission{
    background-color: rgb(218, 214, 214);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
  
}
.vission{
    background-color: rgb(236, 219, 223);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
    
}
.goals{
    background-color: rgb(233, 230, 206);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 20px;
}
